html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Refers to the HTML element */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
